.menu-header{
    position: relative;
    background-image: url(./menu-banner.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.menu-header::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-filter-wrapper{
    width: 100%;
}

.menu-filter{
    max-width: 100%;
    display: flex;
    justify-content: end;
    margin: 0px 50px;
}

.menu-filter li{
    margin: 50px 20px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.menu-filter li:active{
    text-decoration: underline;
}

.menu-filter li:hover{
    text-decoration: underline;
}

#search-text{
    position: relative;
}

#search-box #search-text{
    border: 2px solid;
    outline: none;
    background: none;
    font-size: 0.7rem;
    border: 2px solid var(--background-color);
    border-radius: 30px;
    width: 300px;
    padding: 10px 20px;
    height: 25px;
}

#search-btn{
    position: absolute;
    background-color: var(--primary-color);
    border: none;
    font-size: 1.3rem;
}


.menu-display{
    margin: 0 150px;
    overflow: hidden;
}

.menu-card-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}

.menu-card{
    width: 100%;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(169, 169, 169, 0.5);
}

.menu-card img{
    width: 100%;
    height: 200px;
    transition: all 0.2s ease-in-out;
}

.menu-card img:hover{
    transform: scale(1.1);
    opacity: 0.9;
}

.menu-card-content{
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.add-to-cart{
    width: 100px;
    height: 40px;
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 10px;
    float: right;
    transition: all 0.1s ease-in-out;
    border: none;
    margin-bottom: 10px;
    margin-right: 10px;
}

.add-to-cart:hover{
    color: var(--third-color);
}

.underline-text{
    text-decoration: underline;
}

.quantity{
    background-color: white;
    text-align: center;
    height: 30px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 10px;
}

.small-text{
    font-size: 0.9rem;
    color: var(--background-color);
    margin-left: 10px;
}